# Build e binários

bin/
obj/
dist/
out-tsc/
wwwroot/

# Dependências

node_modules/
package-lock.json

# Configurações locais e IDE

*.user
*.suo
.vs/
.vscode/
.idea/

# Logs e cobertura de testes

*.log
coverage/

# Arquivos de sistema do Windows

Thumbs.db

# Variáveis de ambiente

.env
